<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cmd.hit.im">

    <application android:theme="@style/im_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".test.MainActivity"/>
    </application>

</manifest>